@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Raleway';
}
.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
nav
{
  
  border-radius: 700%;
  width: 100px;
  height: 50vh;
  flex:var(--sidebar-flex);
  padding: 30px;
  background: url(img/logovalleyball.jpg);
  
}
.condiv
{
  padding: 100px ;
  background:url(img/cover.jpg);
  flex:var(--condiv-flex);
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.profilepic
{
  border-radius: 10%;
  width: 400px;
  margin: 30px;
 
}
picture
{
  border-radius: 10%;
  width: 200px;
  height: 25vh;
  margin-left: 800px;
  margin-bottom: 30px;
}

.typingeffect
{
  font-size: var(--typing-font);
  margin-bottom: 30px;
  color: rgb(246, 238, 240);
}

nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: rgb(234, 228, 228) !important;
}
nav ul li
{
  margin:40px;
}
nav ul li:hover
{
  color: #4879c3;
  background-color: #d5b1d8;
  box-shadow: 0 10px 20px rgba(246, 242, 242, 0.19), 0 6px 6px rgba(28, 25, 25, 0.23);
}

a
{
  text-decoration: none;
  color: rgb(1, 9, 1);
}

h1.subtopic
{
  margin:10px 10px 30px 10px !important;
  color: #d5b1d8;
  
}
p{
  font-size: var(--fontsize-p);

}
p:hover
{
  color: #3a4960;
  background-color: rgb(246, 238, 240);
  box-shadow: 0 50px 60px rgba(217, 166, 166, 0.19), 0 6px 6px rgba(228, 208, 208, 0.23);
  font-size: 100;
}
h2,h3,h4,p{
  margin: 10px;
  color: rgb(234, 228, 228);
}
h3:hover
{
  color: #3a4960;
  background-color: rgb(246, 238, 240);
  box-shadow: 0 50px 60px rgba(217, 166, 166, 0.19), 0 6px 6px rgba(228, 208, 208, 0.23);
  font-size: 100;
}h2:hover
{
  color: #3a4960;
  background-color: rgb(246, 238, 240);
  box-shadow: 0 50px 60px rgba(217, 166, 166, 0.19), 0 6px 6px rgba(228, 208, 208, 0.23);
  font-size: 100;
}
h4:hover
{
  color: #3a4960;
  background-color: rgb(246, 238, 240);
  box-shadow: 0 50px 60px rgba(217, 166, 166, 0.19), 0 6px 6px rgba(228, 208, 208, 0.23);
  font-size: 100;
}
h1{
  margin: 10px;
  color: rgb(8, 8, 8);
}h1:hover
{
  color: #3a4960;
  background-color: rgb(251, 242, 245);
  box-shadow: 0 50px 60px rgba(217, 166, 166, 0.19), 0 6px 6px rgba(228, 208, 208, 0.23);
  
  
}
.social
{
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}
.social i
{
  padding-right: 30px;
  font-size: 25px;
  color: #090f0f;
}
.social i:hover
{
  color: #0dec49;
  
}
.widecard
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.h1.widecard:hover
{
  color: #4879c3;
  background-color: #d5b1d8;
  box-shadow: 0 10px 20px rgba(246, 242, 242, 0.19), 0 6px 6px rgba(28, 25, 25, 0.23);
}
.active
{
  font-weight: bolder;
}
.skills ul li
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
  color: white;
}
.skills ul li:hover
{
  color: #3a4960;
  background-color: rgb(251, 242, 245);

}

@media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
  }
  .sidebar
  {
    padding: 30px;
    background: rgb(238,103,143);
    background: linear-gradient(90deg, rgba(238,103,143,1) 50%, rgba(132,124,252,1) 80%);
  }
  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
  }
  nav ul li
  {
    margin: 10px;
  }
  .social
  {
    left:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i
  {
    padding-right: 0px;
  }
}